:root {
    --fuenteHeading: "PT Sans", sans-serif;
    --fuenteParrafos: "Open Sans", sans-serif;
    --primario: #784d3c;
    --blanco: #ffff;
    --negro: #000;
    --gris: #e1e1e1;
}

body {
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/cc7145ea-ff10-43e9-ad93-a9a444bfb93f/d3ewtey-871b6b63-300a-4ac8-8072-c3ebc4ad44d1.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2NjNzE0NWVhLWZmMTAtNDNlOS1hZDkzLWE5YTQ0NGJmYjkzZlwvZDNld3RleS04NzFiNmI2My0zMDBhLTRhYzgtODA3Mi1jM2ViYzRhZDQ0ZDEuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.LF7wMV_EYjYnW_sHpXQvrn134cysaKDE_yyI2tV_AM4");
    height: 60rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

h1 {
    font-size: 3rem;
    text-align: center;
    background: linear-gradient(red, rgb(53, 50, 51));
    -webkit-background-clip: text;
    color: transparent;
    padding: 3% 0 0;
}

h2 {
    text-align: center;
}

.formulario {
    margin: -5rem auto 0 auto;
    width: 95%;
    padding: 5% 0 0;
}

.campo {
    display: flex;
    margin-bottom: 2rem;
    margin: 2rem;
}

.campo__label {
    flex: 0 0 9;
    text-align: right;
    padding-right: 1rem;
    font-weight: bold;
    font-size: 1.5rem;
}

.campo__label--textarea {
    flex: 0.9;
    height: 500px;
}

.boton {
    display: inline-block;
    margin-left: 8rem;
    margin-right: -7rem;
    background-color: var(--negro);
    font-family: var(--fuenteHeading);
    color: var(--blanco);
    padding: 1rem 1rem;
    font-size: 1rem;
    cursor: pointer;
}

.final {
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}