:root {
    --fuenteHeading: "PT Sans", sans-serif;
    --fuenteParrafos: "Open Sans", sans-serif;
    --primario: #784d3c;
    --blanco: #ffff;
    --negro: #000;
    --gris: #e1e1e1;
}

body {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/a/a3/DickseeRomeoandJuliet.jpg");
    background-position: center cover;
}

h1 {
    font-size: 3rem;
    text-align: center;
    background: linear-gradient(rgb(238, 255, 0), rgb(240, 240, 219));
    -webkit-background-clip: text;
    color: transparent;
    padding: 3% 0 0;
}

h2 {
    text-align: center;
    color: var(--blanco);
    font-weight: bold;
}

.formulario {
    margin: -5rem auto 0 auto;
    width: 95%;
    padding: 5% 0 0;
}

.campo {
    display: flex;
    margin-bottom: 2rem;
    margin: 2rem;
}

.campo__label {
    flex: 0 0 9;
    text-align: right;
    padding-right: 1rem;
    font-weight: bold;
    font-size: 1.5rem;
    color: #e1e1e1;
}

.campo__label--textarea {
    flex: 0.7;
    height: 300px;
}

.boton {
    display: inline-block;
    background-color: var(--negro);
    font-family: var(--fuenteHeading);
    color: var(--blanco);
    padding: 1rem 1rem;
    font-size: 1rem;
    cursor: pointer;
}

.final {
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    color: #e1e1e1;
}